html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FCFAE7;
    color: #333333;
}

.container {
    width: 100%;
    text-align: center;
    padding-top: 0px;
    margin: 0 auto;
}

.logo {
    width: 55%;
    max-width: 1200px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.button-container {
    display: flex;
    justify-content: center;
    margin: 0;
}

.nav-button {
    background-color: transparent;
    color: #333333;
    border: none;
    font-size: 20px;
    cursor: pointer;
    padding: 10px 20px;
    margin: 0 10px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.nav-button:hover {
    color: #cb5900;
    text-decoration: none;
}

.video-container {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.video-container video {
    width: 55%;
    max-width: 1200px;
    height: auto;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .logo {
        width: 90%;
    }
    
    .video-container video {
        width: 90%;
        height: auto;
    }

    #iframeStyle {
        padding: 56.25% 0 0 0 !important; /* Adjust aspect ratio for better fit */
    }
    
    .text-container {
        width: 90% !important;
    }

    .nav-button {
        font-size: 18px;
    }
    
}

.bottom-image-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.bottom-image {
    width: 90%;
    height: auto;
}

.social-media-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.social-icon {
    width: 40px;
    height: auto;
    margin: 0 10px;
}

.footer-image-container {
    display: flex;
    justify-content: center;
    position: fixed; 
    bottom: 0;
    left: 0;
    width: 100%; 
    z-index: 100; 
}

.footer-image {
    width: 100%;
    height: auto;
}

.giraffe-image-container {
    position: relative;
    margin-top: -100px; 
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    z-index: -1;
}

.giraffe-text {
    font-size: 16px;
    color: #666666;
}

.giraffe-image {
    max-width: 100%;
}

@media (max-width: 768px) {
    .giraffe-image-container {
        position: relative;
        margin-top: 40px !important;
        justify-content: space-between; 
        display: block;
    }

    .giraffe-image {
        max-width: 100%;
    }
}


@media (min-aspect-ratio: 2) {
    .footer-image {
        content: url('assets/images/footer_wide.png');
    }

    .giraffe-image {
        content: url('assets/images/giraffe_footer_wide.png');
    }
}